@page
@using FinanceKnowHow.Controllers
@model FinanceKnowHow.Controllers.EconomicsModel
@{
    ViewData["Title"] = "Economics";
}

@section MetaTags {
    <meta name="description"
          content="We offer free and unsolicited financial information as it happens around the world. Learn with us!">
    <meta property="og:title" content="Finance KnowHow">
    <meta property="og:description"
          content="We offer free and unsolicited financial information as it happens around the world. Learn with us!">
    <meta name="keywords"
          content="Finance, Investments, Personal Finance, Economics, Stocks, Forex Trading, CFD, Gold">
    <meta property="og:image" content="https://finance-knowhow.com/lib/src/swiper-landing/TR-01.jpg">
    <meta property="og:image:width" content="1280">
    <meta property="og:image:height" content="720">
}

<section>
    <div id="archive-header" class="bg-primary">
        <div class="archive">
            <div class="image-layer-overlay"></div>
            <div class="archive-image">
                <div class="container-lg">
                    <div class="row">
                        <div class="col-lg-12"><h1 class="archive-category" id="archive-1">@ViewData["Title"]</h1></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-blog-main" id="blog-area-1">
    <div class="container-lg">
        <div class="row">
            <div id="main-content" class="col-lg-8 col-md-12 col-xs-12 ">
                <div class="cols-holder">
                    <div class="row">
                        @{
                            if (Model.EconomicsPostItems != null)
                            {
                                foreach (var economicsBlog in Model.EconomicsPostItems)
                                {
                                    // Extract the day part from the published date
                                    string day = economicsBlog.PublishedDate.ToString("dd");

                                    var fetchSuffix = new DateSuffix();

                                    var suffix = fetchSuffix.GetSuffix(day);

                                    <div class="col-md-6 col-sm-6">
                                        <article class="post">
                                            <div class="img-holder">
                                                <a asp-page="/Blog/BlogPost" asp-route-pageName="@economicsBlog.PageName">
                                                    <img src="@economicsBlog.ImageUrl" alt="@economicsBlog.ImageAlt">
                                                </a>
                                            </div>
                                            <div class="text-wrap">
                                                <time>
                                                    @day@suffix @economicsBlog.PublishedDate.ToString("MMM") - @economicsBlog.Category
                                                </time>
                                                <h2><a asp-page="/Blog/BlogPost" asp-route-pageName="@economicsBlog.PageName">@economicsBlog.Highlight</a></h2>
                                                <p>@economicsBlog.Summary</p>
                                                <div class="d-inline-flex justify-content-between w-100">
                                                    <a asp-page="/Blog/BlogPost" asp-route-pageName="@economicsBlog.PageName" class="link-more">Read more</a>
                                                    <span class="text-right"><i class="fa fa-clock"></i>@economicsBlog.Read read</span>
                                                </div>
                                            </div>
                                        </article>
                                    </div>
                                }
                            }
                        }
                    </div>
                </div>
                <partial name="_Pagination" model="Model.PaginatedList" />
            </div>
            <aside id="side-bar" class="col-lg-4 col-md-12 col-xs-12 container">
                <div class="row mx-1">
                    <div class="widget recent-posts-widget col-lg-12 col-md-8 col-sm-8">
                        <header class="widget-head">
                            <h3>Popular Posts</h3>
                        </header>
                        <ol>
                            @{
                                int counter = 0;
                                if (Model.PopularPosts != null)
                                {
                                    for (var i = 0; i < 5; i++)
                                    {
                                        var post = Model.PopularPosts.ElementAt(i);
                                        <li>
                                            <h4><a class="widget-link" asp-page="/Blog/BlogPost" asp-route-pageName="@post.PageName">@post.Summary</a></h4>
                                            <span class="post-tag">
                                                <time>@post.PublishedDate.ToString("dd") @post.PublishedDate.ToString("MMM") </time>
                                                @if (counter % 2 == 0)
                                                {
                                                    <strong class="tag hot">@post.Category</strong>
                                                }
                                                else
                                                {
                                                    <strong class="tag">@post.Category</strong>
                                                }
                                            </span>
                                        </li>
                                        counter++;
                                    }
                                }
                            }
                        </ol>
                    </div>
                    <div class="col-lg-12 col-md-4 col-sm-4">
                        <div class="widget promo-widget">
                            <a href="#"><img src="https://placehold.it/350x300?text=Ad" alt="“Place your Advertisement here”"></a>
                        </div>
                        <div class="widget widget_categories" data-wow-delay="0.6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">
                            <header class="widget-head">
                                <h3>Category</h3>
                                <p>Browse your favorite categories</p>
                            </header>
                            <div class="lists-holder">
                                <ul>
                                    <li class="cat-item cat-item-1"><a asp-page="/Blog/BlogPost" asp-route-pageName="">Lifestyle </a> (23)</li>
                                    <li class="cat-item cat-item-1"><a asp-page="/Blog/BlogPost" asp-route-pageName="">Movie </a> (02)</li>
                                    <li class="cat-item cat-item-1"><a asp-page="/Blog/BlogPost" asp-route-pageName="">Travel </a> (11)</li>
                                    <li class="cat-item cat-item-1"><a asp-page="/Blog/BlogPost" asp-route-pageName="">Sports </a> (05)</li>
                                    <li class="cat-item cat-item-1"><a asp-page="/Blog/BlogPost" asp-route-pageName="">Music </a> (01)</li>
                                </ul>
                                <ul>
                                    <li class="cat-item cat-item-1"><a asp-page="/Blog/BlogPost" asp-route-pageName="">Education </a> (15)</li>
                                    <li class="cat-item cat-item-1"><a asp-page="/Blog/BlogPost" asp-route-pageName="">International </a> (09)</li>
                                    <li class="cat-item cat-item-1"><a asp-page="/Blog/BlogPost" asp-route-pageName="">Design </a> (26)</li>
                                    <li class="cat-item cat-item-1"><a asp-page="/Blog/BlogPost" asp-route-pageName="">News </a> (01)</li>
                                    <li class="cat-item cat-item-1"><a asp-page="/Blog/BlogPost" asp-route-pageName="">Review </a> (14)</li>
                                </ul>
                            </div>
                        </div>
                        <div class="widget promo-widget ">
                            <a href="#"><img src="https://placehold.it/350x300?text=Ad" alt="“Place your Advertisement here”"></a>
                        </div>
                    </div>
                </div>
            </aside>
        </div>
    </div>
</section>
