@page
@using FinanceKnowHow.Controllers
@model FinanceKnowHow.Controllers.IndexModel
@{
    ViewData["Title"] = "Home";
}

@section MetaTags {
    <meta name="description"
          content="We offer free and unsolicited financial information as it happens around the world. Learn with us!">
    <meta property="og:title" content="Finance KnowHow">
    <meta property="og:description"
          content="We offer free and unsolicited financial information as it happens around the world. Learn with us!">
    <meta name="keywords"
          content="Finance, Investments, Personal Finance, Economics, Stocks, Forex Trading, CFD, Gold">
    <meta property="og:image" content="https://finance-knowhow.com/lib/src/swiper-landing/TR-01.jpg">
    <meta property="og:image:width" content="1280">
    <meta property="og:image:height" content="720">
}

<section id="main-slider" class="position-relative main-slider">
    <div class="swiper swiper-landing">
        <div class="swiper-wrapper">
            @{
                if (Model.TopPosts != null)
                {
                    for (var i = 0; i < 5; i++)
                    {
                        var topPost = Model.TopPosts.ElementAt(i);
                        <div class="swiper-slide">
                            <div class="image-layer" style="background-image: url(@topPost.ImageUrl)">
                            </div>
                            <div class="image-layer-overlay"></div>
                            <div class="container">
                                <div class="slider-inner">
                                    <h1>@topPost.Highlight</h1>
                                    <a class="slider-link" asp-page="/Blog/BlogPost" asp-route-pageName="@topPost.PageName">Continue reading</a>
                                </div>
                            </div>
                        </div>
                    }
                }
            }
        </div>
        <div class="slider-nav">
            <div class="slider-button-prev">
                <span class="fa fa-arrow-right"></span>
            </div>
            <div class="slider-button-next">
                <span class="fa fa-arrow-right"></span>
            </div>
        </div>
        <div class="swiper-pagination-bullet-active-next"></div>
    </div>
</section>

<section class="section-blog-main" id="blog-area-1">
    <div class="container-lg">
        <div class="row">
            <div id="main-content" class="col-lg-8 col-md-12 col-xs-12 ">
                <div class="cols-holder">
                    <h1>Finance 101</h1>
                    <div class="row">
                        @{
                            if (Model.FinancePosts != null)
                            {
                                for (var i = 0; i < 2; i++)
                                {
                                    var financeBlog = Model.FinancePosts.ElementAt(i);

                                    // Extract the day part from the published date
                                    string day = financeBlog.PublishedDate.ToString("dd");

                                    var fetchSuffix = new DateSuffix();

                                    var suffix = fetchSuffix.GetSuffix(day);

                                    <div class="col-md-6 col-sm-6">
                                        <article class="post">
                                            <div class="img-holder">
                                                <a asp-page="/Blog/BlogPost" asp-route-pageName="@financeBlog.PageName">
                                                    <img src="@financeBlog.ImageUrl" alt="@financeBlog.ImageAlt">
                                                </a>
                                            </div>
                                            <div class="text-wrap">
                                                <time>
                                                    @day@suffix @financeBlog.PublishedDate.ToString("MMM") - @financeBlog.Category
                                                </time>
                                                <h2><a asp-page="/Blog/BlogPost" asp-route-pageName="@financeBlog.PageName">@financeBlog.Highlight</a></h2>
                                                <p>@financeBlog.Summary</p>
                                                <div class="d-inline-flex justify-content-between w-100">
                                                    <a asp-page="/Blog/BlogPost" asp-route-pageName="@financeBlog.PageName" class="link-more">Read more</a>
                                                    <span class="text-right"><i class="fa fa-clock"></i>@financeBlog.Read read</span>
                                                </div>
                                            </div>
                                        </article>
                                    </div>
                                }
                            }
                        }
                    </div>
                </div>

                <div class="cols-holder">
                    <h1>Economics</h1>
                    <div class="row">
                        @{
                            if (Model.EconomicsPosts != null)
                            {
                                for (var i = 0; i < 1; i++)
                                {
                                    var economicsBlog = Model.EconomicsPosts.ElementAt(i);

                                    // Extract the day part from the published date
                                    string day = economicsBlog.PublishedDate.ToString("dd");

                                    var fetchSuffix = new DateSuffix();

                                    var suffix = fetchSuffix.GetSuffix(day);

                                    <div class="col-md-12">
                                        <article class="post">
                                            <div class="img-holder">
                                                <a asp-page="/Blog/BlogPost" asp-route-pageName="@economicsBlog.PageName">
                                                    <img class="img-wrap" src="@economicsBlog.ImageUrl" alt="@economicsBlog.ImageAlt">
                                                </a>
                                            </div>
                                            <div class="text-wrap text-center">
                                                <time>
                                                    @day@suffix @economicsBlog.PublishedDate.ToString("MMM") - @economicsBlog.Category
                                                </time>
                                                <h2><a asp-page="/Blog/BlogPost" asp-route-pageName="@economicsBlog.PageName">@economicsBlog.Highlight</a></h2>
                                                <p>@economicsBlog.Summary</p>
                                                <div class="d-inline-flex justify-content-between w-100">
                                                    <a asp-page="/Blog/BlogPost" asp-route-pageName="@economicsBlog.PageName" class="link-more">Read more</a>
                                                    <span class="text-right"><i class="fa fa-clock"></i>@economicsBlog.Read read</span>
                                                </div>
                                            </div>
                                        </article>
                                    </div>
                                }
                            }
                        }

                    </div>
                </div>

                <div class="cols-holder">
                    <h1>Trading</h1>
                    <div class="row">
                        @{
                            if (Model.TradingPosts != null)
                            {
                                for (var i = 0; i < 2; i++)
                                {
                                    var tradingBlog = Model.TradingPosts.ElementAt(i);

                                    // Extract the day part from the published date
                                    string day = tradingBlog.PublishedDate.ToString("dd");

                                    var fetchSuffix = new DateSuffix();

                                    var suffix = fetchSuffix.GetSuffix(day);

                                    <div class="col-md-6 col-sm-6">
                                        <article class="post">
                                            <div class="img-holder">
                                                <a asp-page="/Blog/BlogPost" asp-route-pageName="@tradingBlog.PageName">
                                                    <img src="@tradingBlog.ImageUrl" alt="@tradingBlog.ImageAlt">
                                                </a>
                                            </div>
                                            <div class="text-wrap">
                                                <time>
                                                    @day@suffix @tradingBlog.PublishedDate.ToString("MMM") - @tradingBlog.Category
                                                </time>
                                                <h2><a asp-page="/Blog/BlogPost" asp-route-pageName="@tradingBlog.PageName">@tradingBlog.Highlight</a></h2>
                                                <p>@tradingBlog.Summary</p>
                                                <div class="d-inline-flex justify-content-between w-100">
                                                    <a asp-page="/Blog/BlogPost" asp-route-pageName="@tradingBlog.PageName" class="link-more">Read more</a>
                                                    <span class="text-right"><i class="fa fa-clock"></i>@tradingBlog.Read read</span>
                                                </div>
                                            </div>
                                        </article>
                                    </div>
                                }
                            }
                        }
                    </div>
                </div>

                <div class="cols-holder">
                    <div class="swiper swiper-announcements mb-4">
                        <div class="swiper-wrapper">
                            @{
                                if (Model.TrendingPosts != null)
                                {
                                    for (var i = 0; i < 5; i++)
                                    {
                                        var announcements = Model.TrendingPosts.ElementAt(i);

                                        <div class="swiper-slide">
                                            <article class="post">
                                                <div class="img-holder">
                                                    <div class="image-layer-overlay">
                                                        <div class="trading-box">
                                                            <h2 class="trading-box_title">@announcements.Title</h2>

                                                            <a asp-page="/Blog/BlogPost" asp-route-pageName="@announcements.PageName">
                                                                @announcements.Summary
                                                            </a>

                                                        </div>
                                                    </div>
                                                    <img src="@announcements.ImageUrl" alt="@announcements.ImageAlt" class="swipe">
                                                </div>
                                            </article>
                                        </div>
                                    }
                                }
                            }
                            <div class="slider-nav__trading">
                                <div class="slider-button-prev_trading">
                                    <span class="fa fa-arrow-right"></span>
                                </div>
                                <div class="slider-button-next_trading">
                                    <span class="fa fa-arrow-right"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Aside Bar-->
            <partial name="_asideBarMain" model="Model.PopularPosts" />
        </div>
    </div>

</section>
<section id="recent-posts" class="recent">
    <div class="recent-container-box clearfix">
        <h2>Most Recent Posts</h2>
        <div class="owl-four owl-carousel">
            @{
                if (Model.BlogPosts != null)
                {
                    foreach (var post in Model.BlogPosts)
                    {
                        <div class="recent-img-box project">
                            <img src="@post.ImageUrl" width="285" height="285" alt="@post.ImageAlt" class="img-fluid" />
                            <div class="news-box text-center">
                                <div class="news-box_title">@post.Title</div>
                                <div class="text">
                                    <a asp-page="/Blog/BlogPost" asp-route-pageName="@post.PageName">@post.Highlight</a>
                                </div>
                            </div>
                        </div>
                    }
                }
            }
        </div>
    </div>
</section>

@section Scripts{
    <script src="~/node_modules/swiper/swiper-bundle.min.js"></script>
    <script>
        var swiper = new Swiper(".swiper-landing", {
            spaceBetween: 1200,
            effect: "fade",
            loop: true,
            navigation: {
                nextEl: ".slider-button-next",
                prevEl: ".slider-button-prev",
            },
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            },
        });

        var swiper2 = new Swiper(".swiper-announcements", {
            spaceBetween: 1200,
            effect: "fade",
            loop: true,
            navigation: {
                nextEl: ".slider-button-next_trading",
                prevEl: ".slider-button-prev_trading",
            },
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            },
        });
    </script>

    <script src="~/js/wow.min.js"></script>
    <script src="~/node_modules/jquery/dist/jquery.stellar.min.js"></script>
    <script src="~/node_modules/jquery/dist/jquery.magnific-popup.js"></script>
    <script src="~/node_modules/isotope-layout/dist/isotope.pkgd.min.js"></script>
    <script src="~/js/interface.js"></script>
    <script src="~/js/owl-carousel-project.js"></script>
}
