@page
@using FinanceKnowHow.Controllers
@model FinanceKnowHow.Controllers.InvestmentsModel
@{
    ViewData["Title"] = "Investments";
}

@section MetaTags {
    <meta name="description"
          content="We offer free and unsolicited financial information as it happens around the world. Learn with us!">
    <meta property="og:title" content="Finance KnowHow">
    <meta property="og:description"
          content="We offer free and unsolicited financial information as it happens around the world. Learn with us!">
    <meta name="keywords"
          content="Finance, Investments, Personal Finance, Economics, Stocks, Forex Trading, CFD, Gold">
    <meta property="og:image" content="https://finance-knowhow.com/lib/src/swiper-landing/TR-01.jpg">
    <meta property="og:image:width" content="1280">
    <meta property="og:image:height" content="720">
}

<section>
    <div id="archive-header" class="bg-primary">
        <div class="archive">
            <div class="image-layer-overlay"></div>
            <div class="archive-image">
                <div class="container-lg">
                    <div class="row">
                        <div class="col-lg-12"><h1 class="archive-category" id="archive-1">@ViewData["Title"]</h1></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-blog-main" id="blog-area-1">
    <div class="container-lg">
        <div class="row">
            <div id="main-content" class="col-lg-8 col-md-12 col-xs-12 ">
                <div class="cols-holder">
                    <div class="row">
                        @{
                            if (Model.InvestmentPostItems != null)
                            {
                                foreach (var investmentsBlog in Model.InvestmentPostItems)
                                {
                                    // Extract the day part from the published date
                                    string day = investmentsBlog.PublishedDate.ToString("dd");

                                    var fetchSuffix = new DateSuffix();

                                    var suffix = fetchSuffix.GetSuffix(day);

                                    <div class="col-md-6 col-sm-6">
                                        <article class="post">
                                            <div class="img-holder">
                                                <a asp-page="/Blog/BlogPost" asp-route-pageName="@investmentsBlog.PageName">
                                                    <img src="@investmentsBlog.ImageUrl" alt="@investmentsBlog.ImageAlt">
                                                </a>
                                            </div>
                                            <div class="text-wrap">
                                                <time>
                                                    @day@suffix @investmentsBlog.PublishedDate.ToString("MMM") - @investmentsBlog.Category
                                                </time>
                                                <h2><a asp-page="/Blog/BlogPost" asp-route-pageName="@investmentsBlog.PageName">@investmentsBlog.Highlight</a></h2>
                                                <p>@investmentsBlog.Summary</p>
                                                <div class="d-inline-flex justify-content-between w-100">
                                                    <a asp-page="/Blog/BlogPost" asp-route-pageName="@investmentsBlog.PageName" class="link-more">Read more</a>
                                                    <span class="text-right"><i class="fa fa-clock"></i>@investmentsBlog.Read read</span>
                                                </div>
                                            </div>
                                        </article>
                                    </div>
                                }
                            }
                        }
                    </div>
                </div>
                <partial name="_Pagination" model="Model.PaginatedList" />
            </div>
            <!--Aside Bar-->
            <partial name="_asideBar" model="Model.PopularPosts" />
        </div>
    </div>
</section>
