@using System.Web 
@model FinanceKnowHow.ViewModels.PaginatedList<FinanceKnowHow.Models.BlogPost>
@{
    ViewData["Title"] = "Search Results";
}

<section id="results">
    <div class="container">
        <div class="row">
            <div class="searchbar">
                @await Html.PartialAsync("_searchBar", (string)ViewBag.Query)
                <div class="border-line"></div>
            </div>
            <h2 class="searchresults_title"> Your Search Results</h2>

            @if (!string.IsNullOrEmpty(ViewBag.Message))
            {
                <div class="alert alert-warning">
                    @ViewBag.Message
                </div>
            }
            else
            {
                <div class="searchresults">
                    @foreach (var blogPost in Model.Items)
                    {
                        <div class="searchresults_section py-3">
                            <h3 class="searchresults_heading">@blogPost.Title</h3>
                            <div class="searchresults_url">
                                <a href="@Url.Page("/Blog/BlogPost", new { pageName = blogPost.PageName })">
                                    @blogPost.PageLink@HttpUtility.UrlDecode(@Url.Page("/Blog/BlogPost", new { pageName = blogPost.PageName }))
                                </a>
                            </div>
                            <div class="searchresults_description">@blogPost.Summary</div>
                        </div>
                    }
                </div>
            }
        </div>
        <partial name="_SearchPagination" model="Model" />
    </div>
</section>


